{% extends "base-container.html" %}

{% block title %}speed-and-stability{% endblock %}
{% block head %}
{{ super() }}
<link href="{{ url_for('speed_and_stability.static', filename='style.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
{% filter markdown %}

https://thehub.thomsonreuters.com/people/6020643/blog/2020/09/08/speed-stability-and-its-many-implications

# speed and stability

Did you see the technology-wide survey sent out last week? – Sharpening our practices and behaviors that drive technology delivery excellence and growth acceleration

Let's learn more about this survey, some ideas about what it will take to realize these goals, and start some good discussion.

## The myth of speed vs. stability

The crux of the research supporting the survey is this: Speed and stability are not tradeoffs. High-performance technology organizations use speed to reinforce stability and stability to reinforce speed.

Elite technology orgs are not just faster to create and release, they also fail less and recover faster when they do!

![](TODO)

## Realizing fact

Speed and stability are not tradeoffs. Read that again. The idea is simple. Realizing its implications are not!

What will it take for us to realize this fact and ensure TR's future as an elite technology organization?

#### Make sure not to confuse an organization's achievements with the technology infrastructure it uses.

As tempting as it is to assume high performing organizations must use the latest-and-greatest technology, the research found that technology did not matter.

You can achieve world class speed and stability equally, whether you're on a mainframe or running Kubernetes, whether you are building something brand new or from something preexisting. Of course you need technology – but it's how that technology is applied that is the differentiator.

> Technology is a point of parity. Culture is a point of distinction.  – Nicole Fosgren  (leading DevOps researcher,
author of Accelerate and the annual State of DevOps report)

So don't make the emphasis of change on technology alone. The real lever has more to do with our way of thinking – how our assumptions and expectations shape what we believe is possible – and how that manifests as the capabilities of the IT systems we build.

Do we submit to the idea that introducing changes is risky and therefore must be slowed to achieve stability – or do we operate under the assumption that speed and stability can and will drive one another?

Many different technologies are a capable of facilitating speed and stability. It is the choices we make about how to apply our technology that makes the difference.

#### Achieve new levels of performance by developing an appreciation for feedback loops and positive-sum games.

Imagining speed and stability as trade offs makes for a zero-sum game: what you gain in stability you pay for in speed and vice-versa. The best you can optimize, assuming you value both speed and stability, is to strike a balance between the two.

Elite software organizations do not make this choice. They instead operate a positive-sum environment where each quality advances the other. Instead of a zero-sum tug of war, everyone begins to push in the same direction.

![](TODO)

Adjusting our expectations in this way, and realizing the positive-sum dynamics it creates, means our ability to perform becomes much greater than simply striking a balance. The performance ceiling is removed.

![](TODO)

Positive feedback loops are especially powerful in software where the near zero marginal-cost of producing and distributing digital goods combined with network effects define the fast growing, high-margin, businesses of our era.

Of course the cost of goods is not actually zero, but driving them to practically zero via scale and automation across networks is possible. It's these simple ideas taken seriously that are driving effective strategies today.

#### Reconsider physical analogies.

Software has different economics than manufacturing or publishing. We won't be able to make the most of our opportunities as a digital goods and software provider using physical analogies.

Realize that TR's history as a leading publisher – and its distribution of content by 3rd party providers that continue to use physical analogies like cost per page – creates an inevitable (and insidious) active inertia to continue employing practices constrained by the physical world, even as we attempt to move forward in a digital one. We must become the "acceleration" necessary to redirect that historical momentum constructively.

Active inertia is an organization’s tendency to follow established patterns of behavior—even in response to dramatic environmental shifts. Stuck in the modes of thinking and working that brought success in the past, market leaders simply accelerate all their tried-and-true activities. – Donald Sull (lecturer, MIT Sloane)

Put another way: assuming the constraints of the physical world will constrain our success in the virtual one. Physical analogies will fail us in seeing the unique opportunities made possible by the economics of software and digital goods.

> Software is also eating much of the value chain of industries that are widely viewed as primarily existing in the
physical world. [... ] FedEx, [...] is best thought of as a software network that happens to have trucks, planes and distribution hubs attached. – Marc Andreessen (creator of Netscape navigator, venture capitalist) [source]

> Thomson Reuters is best thought of as a software network that happens to have world class content creators and
subject-matter-experts in professional domains, and a worldwide network of first-hand reporters, attached. – Riffing on Marc Andreessen

## Growth and mindset

The survey also emphasized a growth mindset: treating failure as opportunity.

We should feel secure in stepping forward and speaking-up about problems even when – perhaps especially when – problems require large levels of investment, stem from executives, or suggest potentially disrupting current revenues in order to secure future ones.

Real opportunity is defined by growth and growth requires conviction, focus, and discomfort. Let's practice what we preach, get uncomfortable, and talk about our opportunities (i.e. where we may be failing).

> “Recognizing opportunity is so difficult for most people because it goes around disguised in overalls, looking like
hard work!” – Thomas Edison

## 1. Aging infrastructure

Content is our primary integration, our greatest competitive differentiator, and primary defensive moat. And yet our content remains hard to access and experiment with internally.

In an era defined by decisions and user-experience driven by statistics based analytics and machine-learning algorithms, our core content infrastructure, Novus, is incapable of producing random samples (random samples are the fundamental building block of any statistical analysis).

We have adjunct solutions like Novus SNI and forward-looking strategic assets in public-cloud such as SCW. There is also TRUC. But these appear to have grown bottom-up from pockets of the organization looking to meet particular needs with the resources and perspective limited to their local contexts. Would executive driven initiatives with greater levels of investment and authority be necessary to achieve higher-levels of enterprise wide value?

Novus was a remarkable achievement that is responsible for decades of revenue. It is also technology that was built pre-Web 2.0, pre-mobile, pre-cloud, pre-ML/AI.  What does the core infrastructure driving the next two decades of  TR's revenues look like? There's an opportunity to bring more focus, time, investment, and vision to this issue.

In an ideal world, everything we're creating, acquiring – even every piece of information a customer might upload through our tool – is somehow being used for training AI, and if we have language there we can identify and has a meaning we can train on it – and we should be.

Understanding how we can fund that infrastructure in a sensible way. ... Lots of our products didn't envisage this type of approach, and we know that this is a substantial investment, so it feels like there is an infrastructure need there that we need to start looking at. – Chris Boulter (Director of Product Management, TR Legal)[source]

## 2. No network effects

Fast-growing, scalable, high-margin, software networks with great user-experiences are driven by network effects.

Why don't we talk more about network effects whenever we talk about growth acceleration, integration, or customer-experience?

There's been discussion recently about TR needing to move from a holding company to an operating company: we need senior executive-level technical management of software network development, not just senior executive-level financial management of various revenue generating businesses.

Understand: Anything added to our network – people, computers, data – should increase the value of everything else connected to it. It's this value add of one thing increasing the value of every thing it's connected to that defines a network effect. They are extremely powerful.

The good news is that we have many network effects within the business today. The bad news is they are often constrained to a particular process, or pockets of the organization or customers, and not driven enough by the full power and resources of TR holistically (see the next two sections for further explanation).

This is particularly relevant when it comes to machine learning and AI, where the greatest opportunities provided by these technologies as they exist today is to scale small, extremely practical features driven by personal context (like recommendations) and not perfectly omniscient human replacements sci-fi fantasy hype has our customers fearing.

We have all the tools in the shed. ... We just need to accelerate this and leverage this a lot more. ... [We need to] think of AI-first. ... AI is here to stay, we have the tools, we just need to make it a priority in all aspects of the business, not just the product lifecycle itself. ... [It's then that] the overall experience really starts going up. – Pushkar Bhoopalam (Vice President Product Management, TR Tax & Accounting)

Personal context driven? What our users did yesterday should improve their experience using our products today – it's that simple. This drives end-users to invest in their relationship with, and develop a preference for, our products. The network effects come in because usage of the product drives value for themselves and others, and that dynamic increases things like switching costs.

A problem for TR is we have a history of prioritizing relationships with key decision makers, not end users.  We may aim to provide professionals competitive advantages, but are missing a key element of how to create value from software networks: persistent relationships with the people who are our end users, i.e. professionals over their careers, and not just who they happen to work for.

Our 1st superpower is our user base. According to a recent audit conducted by our new CIAM team, we authenticate 2.95 million users onto TR solutions each month. Each of these users will likely be part of a future purchase decision...and probably not in the context of their current role in their current TR segment.

Our 2nd superpower is that we have data scientists and AI/machine learning folks on staff. Think about it, we've managed to codify and bring into focus the ultimate swirling and changing mass of information: the law.

Our 3rd, yet to be realized, superpower is to combine our first two superpowers into a longitudinal view of our human customers. Instead of presenting contact forms to anonymous personas like our competitors, we could be nurturing data-rich relationships with actual people. Lots of them.  – Jason Drury (Senior Campaign Manager, TR Legal) [source]

This prioritization creates punishing costs for all involved as the professionals we aim to serve naturally advance in their careers. They lose much of what they invested in us (preferences, goodwill, ...) and we lose much of what we invested in them (marketing, personal context, ...) whenever they advance.  It's a lose-lose situation.


[source]

## 3. Defining "customer"

We talk a lot about customer-focus. But it hasn't been clear what we mean.

Brian Peccarelli recently defined customer as both they key decision makers who buy our product and the product end users (see Who are our customers and why should we care?). This makes perfect sense. We are essentially a B2B business: we'd have few end-users without key decision makers within businesses and organizations buying our products.

The problem is that key decision makers have different incentives from end-users. Broadly defining customers as both end-users and key decision makers does not do enough to acknowledge, or resolve, those conflicting incentives into positive-sum win-win-wins (for key-decision makers, end-users, and TR).

Just like elite organizations have turned what might seem like a tradeoff between speed vs. stability into a positive-sum game that drives new levels of performance, we should more explicitly align what might seem like tradeoffs between key-decision maker and end-user incentives in a positive-sum manner to open more opportunities for everyone.

> "It is not from the benevolence of the butcher, the brewer, or the baker, that we expect our dinner, but from their
regard to their own self-interest." – Adam Smith

There are many opportunities to use our unique supply-side and demand-side advantages to do this in creative ways.

If you look at the markets we've been serving – if you look at it purely from a purely product-centric market – those markets are growing at a sort of 2%. The broader software solutions markets for those professionals that we serve is a much larger market. It's also growing at 8-10%. It's a much bigger park to play in.  That's really our opportunity. We are following our customers there, our customers are demanding this. – Neil Masterson [source]

## Bringing it together

We have a desire and massive opportunities for growth. We have powerful tools like network effects, software scale, and strong footholds in key markets as tools to make it happen.

What could it look like bringing it all together (at the highest-level)?

Information asymmetry is a powerful force in our markets. Our products can and do change the competitive landscape. Whenever we offer a unique competitive advantage with our information products there is an increase in demand. So let's drive that.

"It’s borderline malpractice not to have Litigation Analytics. Without it, you’re not serving your client in the best way possible. If your opposing counsel has this and you don’t, you’re at a disadvantage." – A TR Legal Customer

Of course we already do this extremely well within particular products and customer niches. The question is how we better mobilize all of TR to create network effects driven by all of what TR has to offer?

The reality is that all of our customers are telling us they want to be served by Thomson Reuters, not part A of Thomson Reuters differently from part C of Thomson Reuters. Just this morning we were at a very large customer here in London, and they're looking for us to bring to the table all of Thomson Reuters' capabilities on a global scale – that's a key point: on a global scale. – Neil Masterson [source]

It's this inner loop below – from relationships with buyers, to end-users, to what end-users' engagement with our products can tell us, and the scalable competitive advantages we create from that base – that holds the greatest opportunities today and the days ahead.

There are also some potentially uncomfortable implications of what is holding us back here: core infrastructure built before much of this was possible, not enough of a clear strategy as to how we use what has changed in our favor, essentially no lasting relationships with the professionals we aim to serve across their careers.

## Sharper. Faster. More driven.

So we end where we started: with opportunity to be faster and more stable than we were yesterday.

We have incredible new leadership Steve Hasker, David Wong, Kirsty Roth, Shawn Malhotra and what appears to be reporting lines restructured around product; an astonishingly successful exit from Refinitiv data-center driving public-cloud adoption led by John Lyons; this survey and technology leadership push led by Sejal Amin; we continue to expand our base of products in Tax and Legal.

The roots of this organization come from enterprising individuals with brilliant strategies to create and capture value. That legacy lives on with us whenever we mobilize and get after big opportunities. So what big things are next for us?

What are you seeing from your perspective? What do you think of these ideas about infrastructure, developing relationships with professionals, and broad network effects?

{% endfilter %}
{% endblock %}

{% block footer %}
{{ super() }}
<script src="{{ url_for('speed_and_stability.static', filename='speed-and-stability.js') }}"
        type="text/javascript"></script>
<script>
    $("#loading").removeClass('active');
</script>
{% endblock %}
