<!doctype html>
<html>

{% block head %}
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YJW1VQX03D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YJW1VQX03D');
    </script>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}" rel="apple-touch-icon"
          sizes="180x180">
    <link href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}" rel="icon" sizes="32x32"
          type="image/png">
    <link href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}" rel="icon" sizes="16x16"
          type="image/png">
    <link href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}" rel="manifest">
    <!-- TODO rely on CDN for semantic? -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet"
          type="text/css">
    <link href="{{ url_for('static', filename='style.css') }}" media="all" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
{% endblock %}

<body>

{% include "menu.html" %}
<div id="content">{% block content %}{% endblock %}</div>

<div class="ui active inverted dimmer" id="loading">
    <div class="ui small loader"></div>
</div>

{% block footer %}
<!-- TODO rely on CDN for jquery? -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="application/javascript"></script>
<!-- TODO rely on CDN for semantic? -->
<script crossorigin="anonymous" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI="
        src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
{% endblock %}
</body>

</html>
