<div class="ui borderless menu main-menu" id="main-menu">
    <div class="ui container">
        <a class="header item" href="/">CXYZ</a>
        <div class="right menu">
<!--            <a class="item" href="{{ url_for('about')}}">about</a>-->
<!--            <a class="item" href="{{ url_for('contact')}}">contact</a>-->
            <!--          <div class="item">-->
            <!--            <div class="ui icon input">-->
            <!--              <input type="text" placeholder="Search...">-->
            <!--              <i class="search link icon"></i>-->
            <!--            </div>-->
            <!--          </div>-->
        </div>
    </div>
</div>
